*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cal Sans", sans-serif;
    font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url('./img/fondo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

header{
    width: 100%;
    height: auto;
    background-color: black;
    padding: 1rem 2rem;
    text-align: center;
}

.titulo{
    font-size: 3rem;
    color: white;
}

.contenido-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem 2rem;
    background-color: rgba(0,0,0,0.4);
    margin: 0 2rem;
    border-radius: 1rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    width: 100%;
    height: auto;
    background-color: black;
    padding: 1rem 2rem;
    text-align: center;
    color: white;
}

.contenido{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 1rem;
}

.contenedor{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 1rem;
}

.texto{
    width: 80%;
}

.texto-span{
    font-size: 1.5rem;
}

.imagen-l{
    width: 20%;
    display: flex;
    justify-content: start;
}

.imagen-r{
    width: 20%;
    display: flex;
    justify-content: end;
}

.imagenes{
    width: 80%;
    max-width: 100%;
    min-width: 50%;
    border-radius: 1rem;
}

#txt1, #txt3{
    text-align: left;
}

#txt2{
    text-align: right;
}

#cont4{
    display: none;
}

@media screen and (max-width:1500px) {
    .texto-span{
        font-size: 1.4rem;
    }

    .imagenes{
        width: 100%;
    }
}

@media screen and (max-width:1300px) {
    .texto-span{
        font-size: 1.4rem;
    }

    .imagen-l{
        width: 35%;
    }
    
    .imagen-r{
        width: 35%;
    }

    .texto{
        width: 65%;
    }
}

@media screen and (max-width:950px) {
    .texto-span {
        font-size: 1rem;
    }
}

@media screen and (max-width:900px) {
    .texto{
        width: 100%;
    }

    .imagen-l, .imagen-r{
        display: none;
    }

    #txt1, #txt3, #txt2{
        text-align: left;
        font-size: 1.5rem;
    }

    #cont4{
        display: flex;
        width: 100%;
    }

    .video, video{
        width: 100%;
    }
}